# Reading Data

## read_*

- ```read_csv``` - Read comma-separated files
- ```read_tsb``` - Read tab-separated files
- ```read_csv2``` - Read comma-separated files (for countries that use a comma as decimal point and a semicolon as field separator)
- ```read_delim``` - Import both comma and tab-separated files (and more). We just have to specify the delimeter. (```read_delim("file", delim="\t")```)
- ```read_excel``` - Read excel files

## read_* Arguments

- ```file``` - Specifies which file we are reading the data from.
- ```delim``` - Specifies what separates the Variables.
- ```col_names``` - Specifies whether there are column names to assign or not (default is True).
- ```skip``` - Allows you to skip rows when reading the data.

## Other useful Arguments

```rename(dataframe, new_name = orig_name)``` - Allows you to rename columns.

## Reading Data from a database

In [ ]:
# Step 1 - Use DBI library
library(tidyverse)
library(DBI)
library(dbplyr)

# Step 2 - Use 'dbConnect'
conn_lang_data <- dbConnect(RSQLite::SQLite(), "data/can_lang.db")

# Step 3 - See a list of all the tables in the database.
tables <- dbListTables(conn_lang_data)

# Step 4 - Select a certain table and use it like a dataframe.
lang_db <- tbl(conn_lang_data, "lang")

# ---- You can use lang_db like a dataframe with filter, select, operations ----

In [ ]:
# You can use collect to actually collect the data
lang_data <- collect(lang_db)

# ------------------------------------------------
# The following is not able to be ran on SQL. You NEED to
# collect before using any of these.
# ------------------------------------------------

# You can use nrow to count the rows in a dataframe.
nrow(lang_data)

# You can use tail to preview the last six rows of a data frame.
tail(lang_data)

# You can use min/max to find the minimum rating in a column.
max(lang_data$col)
min(lang_data$col2)

Note, because databases are more efficient in doing operations to data, R lazily loads the data:
<div>
    <img src="media/tibble object.png" style="width: 300px">
    <img src="media/reference to data in database.png" style="width: 300px">
</div>

## Reading Data from PostgreSQL

In [ ]:
library(RPostgres)
conn_mov_data <- dbConnect(RPostgres::Postgres(), dbname = "can_mov_db",
                        host = "fakeserver.stat.ubc.ca", port = 5432,
                        user = "user0001", password = "abc123")

## Writing data from R to a ```.csv``` file

```write_csv(data, "file")```

## Other Notes

You can use ```show_query``` to see the SQL queries that are sent to the database (```show_query(tbl(conn_lang_data, "lang"))```)